@model IEnumerable<QuanLyChiTieu.Models.Transaction>
<h1>Quản lý giao dịch</h1>

<p>
    <a asp-action="Create">Tạo giao dịch</a>
</p>
<table class="table table-hover mt-2">
    <thead>
        <tr>
            <th>
               Số tiền
            </th>
            <th>
                Thời gian
            </th>
            <th>
                Ví
            </th>
            <th>
               Danh mục
            </th>
            <th>
               Ghi chú
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Amount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TransactionDate)
            </td>
            <td>
                
                @Html.DisplayFor(modelItem => item.Wallet.WalletId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category.CategoryId)
            </td>
            <td>
               
                @Html.DisplayFor(modelItem => item.Note)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.TransactionId">Chi tiết</a> |
                <a asp-action="Edit" asp-route-id="@item.TransactionId">Sửa</a> |         
                <a asp-action="Delete" asp-route-id="@item.TransactionId">Xóa</a>
            </td>
        </tr>
}
    </tbody>
</table>
