@model IEnumerable<QuanLyChiTieu.Models.UserAccount>

<h1>Danh sách người dùng</h1>

<p>
    <a asp-action="Create">Thêm người dùng</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
               Họ tên
            </th>
            <th>
                Mật khẩu
            </th>
            <th>
                Email
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Username)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Password)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.UserId">chi tiết</a>|
                <a asp-action="Edit" asp-route-id="@item.UserId">Sửa </a>       |
                <a asp-action="Delete" asp-route-id="@item.UserId">Xóa</a>
            </td>
        </tr>
} 
    </tbody>
</table>
