@model IEnumerable<QuanLyChiTieu.Models.Category>



<h1>Quản lý danh mục</h1>

<p>
    <a asp-action="Create">Thêm mới</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Tên danh mục
            </th>
            <th>
                Loại(thu/chi)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CategoryName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.CategoryId">Chi tiết</a> |
                <a asp-action="Edit" asp-route-id="@item.CategoryId">Sửa</a> |         
                <a asp-action="Delete" asp-route-id="@item.CategoryId">Xóa</a>
            </td>
        </tr>
}
    </tbody>
</table>
